*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gold: #ded07e;
$dark-blue: #11161b;
$text-color: rgb(244, 239, 213);   
$blackie: rgb(0, 0, 0); 
$overlay-bg: rgba(0, 0, 0, 0.7);
$font-size: 1rem;


body {
    font-family: 'montserrat', sans-serif;
    background-color: $dark-blue;
    color: rgb(244, 239, 213);
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-top:1rem ;
    align-items: center;
    margin-bottom: 2rem;
    background: linear-gradient(10deg, $gold,$gold, $text-color);
  -webkit-background-clip: text;
  background-clip: text;    
  -webkit-text-fill-color: transparent; 
    text-transform: uppercase;
}

h1 {
    color: $gold;
    font-size: 3em;
   
}

input{
    padding: 20px;
    font-size: 1em;
    border: none;
    border-radius: 3rem;
    background-color:$blackie;
    color: $text-color;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin:auto;
    box-shadow: -1px -2px 8px rgba(218, 226, 140, 0.1)
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
    
    
}

/* Video Cache */
section{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;

}
.container {
    background-color: $blackie;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin:20px 0 20px 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;
    transition: transform 0.3s ease;
    width: 20%;
    height: 25rem;
    /* border: 1px solid $gold; */

    .image-container{
    width: 100%;
    height: 80%;
    overflow: hidden;
    }

    .text-container{
    align-items: center;
    text-align: left;
    padding: 1rem;
}


    span{
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        background: transparent;
        color: $text-color;
        font-size: $font-size;
        padding: 5px 10px;
        z-index: 2;
    }

    .overlay-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    text-align: left;
    font-size: $font-size;
    color: $text-color;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

    
    img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}


footer{
    text-align: center;
    margin:5rem;
    font-size: 0.9em;
    color: $text-color;
    text-transform: uppercase;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    & .text-container{
    display:none;
    }
    & .image-container{
    width: 100%;
    height: 100%;}

    & .overlay-text {
      opacity: 1;
    }

}

 

p{
    color: white;
    margin-bottom: 0.5rem;
}